@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    background-color: #1a1f32 !important;
}



.input-width {
    width: 600px;
  }

.indicator-end {
  z-index: 1;
}


.mockup-code {
    position: fixed;
    z-index: 1; 
    right: 0;
    height: 300px;
    width: 700px;
}

.mockup-code pre {
    overflow: auto;
    margin: 0;
}

.navbar {
    z-index: 2; /* Set a higher z-index value */
  }

  .glass-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -1;
  }
      
  .underline-effect {
    position: relative;
  }
  .underline-effect::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f4f4f4;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .underline-effect:hover::before {
    transform: scaleX(1);
  }


  

  .underline-effect-dark {
    position: relative;
  }
  .underline-effect-dark::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #080808;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .underline-effect-dark:hover::before {
    transform: scaleX(1);
  }



  .filled-button {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    border: 1.5px solid #9e44f1;
    overflow: hidden;
  }
  
  .button-link {
    text-decoration: none;
    position: relative; 
    z-index: 2;
  }
  
  .fill {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #9e44f1;
    transition: left 0.5s ease;
    pointer-events: none;
    z-index: 1; 
  }
  
  .filled-button:hover .fill {
    left: 0;
  }
  

.feature-card {
    background-color: #232931;
    border: 0.4px solid #424242;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: box-shadow 0.4s ease;
}

.feature-card:hover {
    box-shadow: 0 0 20px rgba(117, 248, 202, 0.899);
}

.pricing-card {
  transition: transform 0.5s ease;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}